.navBarContainer {
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.navBar {
    padding: 20px 15px;
    width: 50%;
    display: flex;
    backdrop-filter: blur(16px);
    border-radius: 25px;
    background-color: rgba(217, 217, 217, 0.1);
    filter: blur(90);
    border: 1px rgba(255, 255, 255, 0.4) solid;
    position: relative;
}

.logoContainer {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg {
    width: 25px;
    height: auto;
}

.logoText {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.linkContainer {
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    transform: translateX(-50%);
    line-height: 1.7;
}

.linkContainer a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

@media (max-width: 500px) {
    .navBar {
        width: 80%;
        border-radius: 35px;
    }

    .linkContainer {
        display: none;
    }
}